<ion-header>
  <ion-toolbar>
    <ion-title>Welcome!</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<ion-card>
		<ion-card-header>
		   	<!-- ion-card-subtitle>Card Subtitle</ion-card-subtitle -->
		    <ion-card-title>Let's Get Started!</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			In the DTIM, our goal is to help you prepare for your next big tech interview. 
			<br/><br/>
			If you log in when you attend, we can track where you rock, and where you need a push to get rollin'.<br/>
			<br/>
			Absolutely not required, but we think you will find the insights very valuable.<br/>
			<br/>

		    <form [formGroup]="validations_form"  (ngSubmit)="onSaveBtnClicked(validations_form.value)">
			    <ion-item>
			      <ion-label position="floating" color="primary">Name</ion-label>
			      <ion-input data-test="name-input" type="text" formControlName="name" (ionInput)="onNameChange($event)" [value]="getName()" required></ion-input>
			    </ion-item>
			    <div class="validation-errors">
			      <ng-container *ngFor="let validation of validation_messages.name">
			        <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
			          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
			        </div>
			      </ng-container>
			    </div>

			    <ion-item>
			      <ion-label position="floating" color="primary">Email</ion-label>
			      <ion-input data-test="email-input" type="text" formControlName="email" (ionInput)="onEmailChange($event)" [value]="getEmail()" ></ion-input>
			    </ion-item>
			    <div class="validation-errors">
			      <ng-container *ngFor="let validation of validation_messages.email">
			        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
			          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
			        </div>
			      </ng-container>
			    </div>

			    <div formGroupName="country_phone">
			      <ion-item>
			        <ion-label position="floating" color="primary">Phone</ion-label>
					<ion-input data-test="phone-input" type="text" formControlName="phone" (ionInput)="onPhoneChange($event)" [value]="getPhone()" placeholder="{{ validations_form.value.country_phone.country.sample_phone }}"></ion-input>
			      </ion-item>
			      <div class="validation-errors">
			        <ng-container *ngFor="let validation of validation_messages.phone">
			          <div class="error-message" *ngIf="validations_form.get('country_phone').get('phone').hasError(validation.type) && (validations_form.get('country_phone').get('phone').dirty || validations_form.get('country_phone').get('phone').touched)">
			            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
			          </div>
			        </ng-container>
			      </div>
			    </div>
				<br/><br/>
				<ion-button class="submit-btn" type="submit" [disabled]="!isSaveBtnEnabled()">Sign Me Up!</ion-button>
				<ion-button class="" (click)="onCancelBtnClicked()">Cancel</ion-button>
			</form>

	  </ion-card-content>
	</ion-card>
</ion-content>