<ion-header>
  <ion-toolbar>
    <ion-title>{{getUserName()}} - Tech Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<br/><br/>
	Which View of this User's Profile Did you want to See?<br/><br/><br/>
	<ion-button class="" (click)="onPastViewBtnClicked()">Past View</ion-button>
	<ion-button class="" (click)="onCurrentViewBtnClicked()">Current View</ion-button>
</ion-content>
<ion-content class="footerButtonRow">
	<ion-button class="" (click)="onBackBtnClicked()">Go Back</ion-button>
</ion-content>
