<ion-header>
  <ion-toolbar>
    <ion-title>{{getUserName()}} - Tech Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<!-- ion-card-header>
		    <ion-card-title>Here's the user tech profile:</ion-card-title>
		</ion-card-header -->
		<ion-card-content>
			<lib-dtim-techprofile-component [ctrl]="getDtimTechprofileComponentController()"></lib-dtim-techprofile-component>
		</ion-card-content>
		<ion-button class="" (click)="onBackBtnClicked()">Go Back</ion-button>		
	</ion-card>
</ion-content>
