<ion-header>
  <ion-toolbar>
    <ion-title>{{getUserName()}} - Answered Questions For A Skill And Level</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>

	A list of all the questions.. the ones that have been asked in bold, you can click on them, get a list of each session-grade-comment 
		data for this question.

		If it has not been asked, you will be taken to the question-detail page.

</ion-content>
-->

<ion-content>
	<ion-card>
		<ion-card-header>
		    <ion-card-title>Skill and Level</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<span class="boldText">{{getLineItemName()}}</span><br/>
			Level {{getLineItemLevelNumber()}} - {{getLineItemLevelDescription()}}<br/>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
		    <ion-card-title>Questions</ion-card-title>
			This is a list of all the questions in this cell. <br/><span class="boldText">bold</span> = correct, <span class="italicText">italic</span> = incorrect.<br/><br/>		    
		</ion-card-header>
		<ion-card-content *ngFor="let q of questions">
			<span [class]="getQuestionCSSString(q)" (click)="onAnswerClick(q)">{{q.text}}<br/></span>
		</ion-card-content>
	</ion-card>

	<ion-button class="" (click)="onBackBtnClicked()">Go Back</ion-button>	
</ion-content>
