<ion-header>
  <ion-toolbar>
    <ion-title>{{getUserName()}} (Session #{{getCurrentSessionNumber()}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<span class="questionLabel">Question:</span><br/>
			<span class="questionText">{{getQuestionText()}}</span>
			<br/><br/><br/>
			<div *ngIf="getUserHasHistoryForQuestion()">
				<div *ngFor="let cqg of getUserHistoryForQuestion()">
					<ion-card *ngIf="!cqgObjectIsForCurrentSession(cqg)">
						<ion-card-content>
							<span>Session {{cqg.sessionId}}</span> - <span>Received {{cqg.grade}}</span><br/><br/>
							<span class="commentLabel">Comment:</span><br/>
							<span class="commentText" *ngIf="!!cqg.comment">{{cqg.comment}}<br/><br/></span>
							<span class="commentText" *ngIf="!(!!cqg.comment)">-- no comment --<br/><br/></span>
						</ion-card-content>
					</ion-card>
				</div>
			</div>
			<div *ngIf="!getUserHasHistoryForQuestion()">
				<ion-card >
					<ion-card-content>
						<span>This user does not have a history answering this question.</span>
						<br/>
					</ion-card-content>
				</ion-card>
			</div>

			<ion-item>
				<ion-label>Current Session Score</ion-label>
				<ion-select [disabled]="!isSessionActive()" [(ngModel)]="currentSessionScore" (ionChange)="setDirty()" placeholder="Select...">
				  <ion-select-option value="0">0</ion-select-option>
				  <ion-select-option value="1">1</ion-select-option>
				  <ion-select-option value="2">2</ion-select-option>
				</ion-select>
			</ion-item>	
			<ion-item>
			  <ion-label position="floating">Comment</ion-label>
			  <ion-input data-test="candidate-question-detail-current-comment" [disabled]="!isSessionActive()" [(ngModel)]="currentSessionComment" (ionChange)="setDirty()"></ion-input>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<ion-button class="" (click)="onBackBtnClicked()">Go Back</ion-button>	
</ion-content>
