<ion-header>
  <ion-toolbar>
    <ion-title>question-edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label position="floating">Question:</ion-label>
		<ion-input data-test="question-edit-input" (ionChange)="onQuestionChange($event)" [value]="getQuestionText()" required></ion-input>
	</ion-item>
	<ion-button class="" (click)="onAddLineItemLevelAssociationBtnClicked()">Add LI/LV Assoc.</ion-button>
	<div *ngIf="isAddingLineItemLevelAssociation()">
		A list of LILVs will go here.
	</div>
	<div *ngIf="hasLineItemLevelAssociations()">

					<table class="lineItemTable" *ngFor="let lineItem of getLineItemLevelAssociations()">
						<tr class="tech-profile-line-item-level-header" >
							<td colspan="9">{{lineItem.name}}</td>
						</tr>
						<tr class="tech-profile-line-item-level">
							<td [ngStyle]="{'background-color':getBackgroundColor(lineItem.id, 0)}" (click)="onLxDescriptionClick(lineItem.id, 0)"><span class="tech-profile-line-item-level-element">{{lineItem.l0Description}}</span></td>
							<td [ngStyle]="{'background-color':getBackgroundColor(lineItem.id, 1)}" (click)="onLxDescriptionClick(lineItem.id, 1)"><span class="tech-profile-line-item-level-element">{{lineItem.l1Description}}</span></td>
							<td [ngStyle]="{'background-color':getBackgroundColor(lineItem.id, 2)}" (click)="onLxDescriptionClick(lineItem.id, 2)"><span class="tech-profile-line-item-level-element">{{lineItem.l2Description}}</span></td>
							<td [ngStyle]="{'background-color':getBackgroundColor(lineItem.id, 3)}" (click)="onLxDescriptionClick(lineItem.id, 3)"><span class="tech-profile-line-item-level-element">{{lineItem.l3Description}}</span></td>
						</tr>
					</table>

	</div>
</ion-content>
