<ion-app>
  <ion-split-pane>
   <ion-menu menuId="main" type="overlay" (ionWillOpen)="handleMenuWillOpenEvent()"> 
    <!-- ion-menu side="start" contentId="menuContent" menuId="main" *ngIf="isMenuCoolToShow()" (ionWillOpen)="handleMenuWillOpenEvent()" -->
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content id="menuContent">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let mo of getMenuOptions()">
            <ion-item [routerDirection]="'root'" [routerLink]="[mo.url]">
              <ion-icon slot="start" [name]="mo.icon"></ion-icon>
              <ion-label>
                {{mo.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main [swipeGesture]="false"></ion-router-outlet>
  	<!-- <ion-router-outlet></ion-router-outlet>    -->
  </ion-split-pane>
</ion-app>
