<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
		    <ion-card-title>Admin Page</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-button (click)="onSessionBtnClicked()" class="">Create New Session</ion-button>

			<div *ngIf="isSessionActive()">
				Session is active.<br/><br/>
				This is Session #{{getCurrentSessionNumber()}}. It started {{getCurrentSessionDateString()}}.<br/><br/>
				This is the list of people who checked in..<br/><br/>

				<ion-card *ngFor="let item of getListOfUsersInAttendance()">
					<span class="userName" (click)="onUserClick(item)">
						{{item.name}}
					</span>
				</ion-card>
			</div>
			<div *ngIf="!isSessionActive()">
				There is not an active session!<br/><br/>

				<!-- The last session was session#{{getLastSessionIndex()}} from {{getLastSessionStartTime()}} to {{getLastSessionEndTime()}}.-->
			</div>
			
			<br/><br/>
			<ion-button class="" (click)="onQuestionsBtnClicked()">Add A Question</ion-button>
			<ion-button class="" (click)="onQuestionsBtnClicked()">Manage Questions</ion-button><br/><br/>
			<ion-button class="" (click)="onTechProfileEditBtnClicked()">Tech Profile Edit</ion-button>
			<div class="container">
				<ion-button class="homeBtn" (click)="onHomeBtnClicked()">Go Home</ion-button>
			</div>
		</ion-card-content>
	</ion-card>			

</ion-content>
