<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
		    <ion-card-title>Admin Page</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			
			<ion-button *ngIf="!isSessionActive()" class="" (click)="onSessionBtnClicked()">Create New Session</ion-button>
			<ion-button *ngIf="isSessionActive()" [disabled]="true" class="">Create New Session</ion-button>

			<div *ngIf="isSessionActive()">
				Session is active.<br/><br/>
				This is the list of people who checked in..<br/><br/>

				<span *ngFor="let item of getListOfCandidatesInAttendance()" (click)="onCandidateClick(item)">
					{{item.name}}
				</span>
			</div>
			<div *ngIf="!isSessionActive()">
				There is not an active session!<br/><br/>
			</div>

			<ion-button class="" (click)="onHomeBtnClicked()">Go Home</ion-button>
		</ion-card-content>
	</ion-card>			

</ion-content>
