.greenBackground {
	background-color: green;
}

.yellowBackground {
	background-color: yellow;
}

.blueBackground {
	background-color: blue;
	margin: 5px;
}

.labourName {
	font-weight: bold;
	font-size: 1.5em;
}