<ion-header>
  <ion-toolbar>
    <ion-title>{{getUserName()}} - DTIM Mock Interview - PRESENT View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			Chosen Career Goal: <br/>
			<span> {{ getChosenCareerGoalName() }} </span>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="thereAreQuestionsAskedInThisSession()">
		<ion-card-header>
		    <ion-card-title>Questions Asked During This Session</ion-card-title>
			This is a list of the questions you already asked the user in this session.<br/><br/>		    
		</ion-card-header>
		<ion-card-content>
			<span *ngFor="let q of getQuestionsAlreadyAskedInThisSession()" (click)="onQuestionClicked(q)">
				{{ q.text }}<br/>
				{{ q.description }}<br/>
				<br/><br/>
			</span>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
		    <ion-card-title>Recommended Next Questions</ion-card-title>
			This is a list of the next questions this user should address.<br/><br/>		    
		</ion-card-header>
		<ion-card-content class="greenBackground" *ngFor="let path of getCareerGoalPaths()">
			<ion-card-content class="yellowBackground" *ngFor="let milestone of getMilestones(path)">
				<ion-card-content class="blueBackground" *ngFor="let labour of getLabours(milestone)">
					<span class="labourName">{{labour.name}}</span><br/>
					<span *ngFor="let q of getNextQuestions(labour)" (click)="onQuestionClicked(q)">
						{{ q.text }}<br/>
						{{ q.description }}<br/>
						<br/><br/>
					</span>
				</ion-card-content>
			</ion-card-content>
		</ion-card-content>
	</ion-card>
</ion-content>
<ion-content class="footerButtonRow">
	<ion-button class="" (click)="onBackBtnClicked()">Go Back</ion-button>
</ion-content>
