.greenBackground {
	background-color: green;
}

.yellowBackground {
	background-color: yellow;
}

.blueBackground {
	background-color: blue;
	margin: 5px;
}

.labourName {
	color: orange;
	font-weight: bold;
	font-size: 1.5em;
}

.questionText {
	color: white;
}

.milestoneName {
	color: red;
	font-weight: bold;
	font-size: 1.75em;
}