
.lineItemTable {
	margin: 1.25em;
}

.tech-profile-topic {
	font-size: 1.55em;
}

.tech-profile-line-item-level td {
	padding: .5em;
	width: 25%;
	vertical-align: top;
}

.tech-profile-line-item-level-header {
	background-color: lightgrey;
}

.tech-profile-line-item-level-header td {
	font-size: 1.17em;
}
