
.lineItemTable {
	margin: 1.25em;
	width: 100%;
}

.tech-profile-topic {
	font-size: 1.55em;
}

.tech-profile-line-item-level td {
	padding: .5em;
	width: 25%;
	vertical-align: top;
}

.tech-profile-line-item-level-header {
	background-color: lightgrey;
}

.tech-profile-line-item-level-header td {
	font-size: 1.17em;
}

.tech-profile-table {
	margin-top: 2em;
	margin-bottom: 2em;
}

.tech-profile-title {
	text-align: center;
	height: 3em;
	font-weight: bold;
    font-size: larger;
}
