
<ion-content>
  <div class="ion-padding">
    <ion-row>
      <ion-col>
        <img class="centered" src="assets/img/dtim-bannner.jpg" (click)="onBannerClick()"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="centered" [disabled]="!isSessionActive()" (click)="onNewUserBtnClicked()">I'm New Here</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="centered" [disabled]="!isSessionActive()" (click)="onReturningUserBtnClicked()">I'm Back For More!</ion-button>
      </ion-col>
    </ion-row>
    <br/><br/><br/>
    <span class="centered home-admin-warning" [hidden]="isSessionActive()">ADMIN, THE MEETING SESSION HAS NOT STARTED!</span>
    <ion-button [hidden]="isAdminBtnHidden()" class="centered" (click)="onAdminBtnClicked()">I'm the Admin!</ion-button>
  </div>
</ion-content>
