<ion-header>
  <ion-toolbar>
    <ion-title>
      Denver Tech Interview Onboarding App v0.1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Welcome to the Denver Tech Interview Meetup!<br/><br/><br/>
    <ion-button class="" [disabled]="!isSessionActive()" (click)="onNewUserBtnClicked()">I'm New Here</ion-button>
    <br/><br/><br/>
    <ion-button class="" [disabled]="!isSessionActive()" (click)="onReturningUserBtnClicked()">I'm Back For More!</ion-button>
    <br/><br/><br/>
    <ion-button class="" (click)="onAdminBtnClicked()">I'm the Admin!</ion-button>
  </div>
</ion-content>
