<ion-header>
  <ion-toolbar>
    <ion-title>line-item-action-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-button class="" (click)="onCancelBtnClicked()">Go Back</ion-button>
	<ion-button class="" (click)="onSelectThisLevelBtnClicked()">Select This Level For the User</ion-button>
	<ion-button class="" (click)="onClearThisLevelBtnClicked()">Clear This Level For the User</ion-button>
	<ion-button class="" (click)="onLineItemLevelContentBtnClicked()">View Content for this Level</ion-button>
</ion-content>
